body{
    font-family: 'comic Sans MS', sans-serif;
}
ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
}

li {
    
    margin-top:25px;
    margin-right: 55px;
    margin-left: 55px;
    margin-bottom: 15px;
    
}